body {

    font-family:
        Inter,
        Poppins,
        sans-serif;

    background:
        var(--bg-primary);

    color:
        var(--text);

    overflow-x:
        hidden;
}

section {

    padding:
        140px
        80px;
}

.container {

    width:
        min(1400px, 100%);

    margin:
        auto;
}

h1 {

    font-size:
        clamp(
            3rem,
            8vw,
            6rem
        );
}

h2 {

    font-size:
        clamp(
            2rem,
            5vw,
            3.5rem
        );

    margin:
        20px 0;
}

p {

    color:
        var(--text-secondary);

    line-height:
        1.8;
}

.badge {

    display:
        inline-block;

    padding:
        12px 25px;

    border-radius:
        50px;

    background:
        rgba(
            56,
            189,
            248,
            .10
        );

    color:
        var(--accent);

    font-size:
        .85rem;

    font-weight:
        600;
}