.hero {

    min-height: 100vh;

    display: flex;
    align-items: center;
}

.container.hero {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.hero-left {

    display: flex;
    flex-direction: column;
    gap: 30px;
}

#typing-text {

    color: var(--accent);

    min-height: 60px;
}

.description {

    max-width: 650px;
    font-size: 1.1rem;
}

.hero-buttons {

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.hero-right {

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.photo-circle {

    width: 420px;
    height: 420px;

    border-radius: 50%;

    position: relative;
    overflow: hidden;

    background:
        linear-gradient(
            135deg,
            rgba(56,189,248,.25),
            rgba(116,216,255,.05)
        );

    box-shadow:
        0 0 80px
        rgba(56,189,248,.25);
}

.photo-circle::before {

    content: "";

    position: absolute;
    inset: -20px;

    border: 2px solid
        rgba(56,189,248,.25);

    border-radius: 50%;

    animation:
        rotate 15s linear infinite;
}

.photo-circle img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stats-card {

    width: 260px;
    padding: 25px;

    text-align: center;
}

.stats-card h3 {

    color: var(--accent);
    font-size: 2rem;
}