.lc-sidebar{

width:280px;

min-height:100vh;

background:#09152f;

padding:2rem;

position:fixed;

left:0;

top:0;

overflow:auto;

}

.lc-sidebar-menu{

display:flex;

flex-direction:column;

gap:10px;

}

.lc-sidebar-menu a{

padding:14px;

border-radius:12px;

transition:.3s;

}

.lc-sidebar-menu a:hover{

background:rgba(255,255,255,.06);

}