.loader {

    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background:
        var(--bg-primary);

    z-index: 9999;
}

.loader::before {

    content: "";

    width: 80px;
    height: 80px;

    border-radius: 50%;

    border:
        5px solid rgba(255,255,255,.10);

    border-top:
        5px solid var(--accent);

    animation:
        spin 1s linear infinite;
}

