.portfolio-grid {
    margin-top: 80px;

    display: grid;
    grid-template-columns:
        repeat(
            auto-fit,
            minmax(350px, 1fr)
        );
    gap: 40px;
}

.project-card {
    overflow: hidden;
}

.project-card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 20px;
}

.project-content {
    padding-top: 30px;
}

.project-content h3 {
    margin-bottom: 20px;
}

.project-content p {
    margin-bottom: 30px;
}